html, body {
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 300;
  font-size: 16px;

  padding-left: 3px;
  padding-right: 3px;

  user-select: none;
}

header { cursor: default; }

main {
  margin-top: 10px;
  font-size: 14px;
  align-self: flex-start;
  width: 100%;
}

main > div {
  margin-top: 2px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 200ms ease 0ms;
}

footer {
  margin-top: auto;
  font-size: 14px;
  align-self: flex-start;
}

main > div:hover { background-color: #EEEEEE; }

.unpaused::after { content: 'Running'; color: #6FD36F; }
.paused::after { content: 'Paused'; color: #FF5050 }
.blacklisted::after { content: 'Blacklisted'; color: #FF5050 }
.whitelisted::after { content: 'Whitelisted'; color: #6FD36F; }